* {
  font-family: Pixel Digivolve, sans-serif;
}

@font-face {
  font-family: "Pixel Digivolve";
  src: url("Pixel\ Digivolve.ttf");
  font-style: normal;
};

@font-face {
  font-family: "Pixel Digivolve";
  src: url("Pixel\ Digivolve\ Italic.ttf");
  font-style: italic;
};
