* {
  font-family: Pixel Digivolve, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Pixel Digivolve";
  src: url("/static/fonts/Pixel\ Digivolve.ttf");
  font-style: normal;
};

@font-face {
  font-family: "Pixel Digivolve";
  src: url("/static/fonts/Pixel\ Digivolve\ Italic.ttf");
  font-style: italic;
};
